* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bhanu: #b40f14;
    --surya: #f98c2d;
}
/* General CSS styles */
body {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
/* Navbar */
#navbar {
    background: #000000;
    height: 100vh;
    display: none;
    grid-gap: 10px;
    -ms-grid-columns: auto 200px;
    grid-template-columns: auto 200px;
    -ms-grid-rows: (9.5vh)[9];
    grid-template-rows: repeat(9, 9.5vh);
    z-index: 1;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#logo img, #logo{
    height: 11vh;
}
#navbar a{
    color: white;
    font-size: 28px;
    padding: 25px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    letter-spacing: 2px;
}
#news:hover , #news:active { border-left: 5px solid #ff0;}
#sci:hover , #sci:active   { border-left: 5px solid rgb(255, 72, 0);}
#feat:hover , #feat:active { border-left: 5px solid rgb(255, 0, 128);}
#life:hover , #life:active { border-left: 5px solid rgb(119, 0, 255);}
#spo:hover , #spo:active   { border-left: 5px solid #0ff;}
#soc:hover , #soc:active   { border-left: 5px solid #0f0;}
#busi:hover , #busi:active { border-left: 5px solid rgb(0, 96, 0);}

.nav-item {
    grid-column: 1/-1;
}
/* Header */
.header {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100vw;
    background-color: #000000;
}
.header img {
    height: 11vh;
}
/* Main articles */
#main {
    display: -ms-grid;
    display: grid;
    /* margin: 0 10px 15px 10px; */
    grid-gap: 10px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: stretch;
    z-index: 0;
    -ms-grid-columns: (100px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.article {
    background: var(--bhanu);
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.filler {
    background: var(--surya);
}
.article.h2 {
    grid-row: span 2;
}
.article.h3 {
    grid-row: span 3;
}
.article.w2 {
    grid-column: span 2;
}
.article.w3 {
    grid-column: span 3;
}
#open {
    -ms-grid-column: 1;
        grid-column-start: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #fff;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    cursor: pointer;
}
#main h1 {
    font-size: 28px;
    background: #ff0;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/span 3;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    letter-spacing: 2px;
}
.article .title {
    padding: 5px;
    background-color: #00000032;
    width: 75%;
    color: #fff;
    font-size: 14px;
}

/* Announcements */
.announcements {
    display: -ms-grid;
    display: grid;
    margin: 0 10px;
    grid-gap: 10px;
    grid-auto-rows: 40px;
    font-family: 'Lato', sans-serif;
}
.announcements h1 {
    font-size: 28px;
    font-weight: 100;
    width: 210px;
    border-bottom: 5px solid var(--bhanu);
}

/* Footer */
footer {
    background-color: #000000;
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10vw auto;
        grid-template-columns: 10vw auto;
    grid-auto-rows: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    font-size: 10px;
}
footer img {
    height: 12vh;
}

#call{
    grid-column: span 1 / -1;
    text-align: center;
}

/* Media Queries */

@media all and (max-width: 700px) {
    #navbar {
        -ms-grid-columns: auto 100px;
            grid-template-columns: auto 100px;
    }
    #navbar a{
        font-size: 14px;
    }
    #main {
        grid-auto-rows: 75px;
        -ms-grid-columns: (75px)[auto-fit];
            grid-template-columns: repeat(auto-fit, 75px);
    }
}

@media all and (max-width: 420px) {
    #main {
        grid-auto-rows: 50px;
        -ms-grid-columns: (50px)[auto-fit];
            grid-template-columns: repeat(auto-fit, 50px);
    }
    #call{
        grid-column: span 2;
        text-align: center;
    }
}